@charset "UTF-8";
body {
  font-family: Arial, Helvetica, sans-serif; }
  body .contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; }
  body .titulo {
    color: brown;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px; }

header {
  width: 100%;
  height: 600px;
  background: #bdc3c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e5075, #bdc3c771), url(../media/imagenes/logo.png);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2c3e5075, #bdc3c771), url(../media/imagenes/logo.png);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  header nav {
    text-align: right;
    padding: 30px 50px 0 0; }
  header nav > a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px; }
  header nav > a:hover {
    text-decoration: underline; }
  header header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  header .textos-header h1 {
    font-size: 50px;
    color: white;
    text-align: center; }
  header .textos-header h2 {
    font-size: 30px;
    color: white; 
    text-align: center;}
  header .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url(/media/imagenes/logo.png); }

main .galeria {
  background: #c7c0c0; }

main .imagen-port {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 20px; }

main .imagen-port :hover {
  transform: translate(10px, 10px); }

main .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

main .contenedor-servicios {
  display: flex;
  justify-content: space-evenly; }

main .contenedor-reseña {
  text-align: center;
  font-size: 30px;
  color: #776161; }

main .contenedor-listas {
  text-align: center;
  font-size: 30px; }

main .imagen-profesiones {
  width: 48%; }

main .contenido-textos {
  width: 48%; }

main .contenido-textos h3 {
  margin-bottom: 15px; }

main .contenido-textos h3 span {
  background: #5e3737;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px; }

main .cards {
  display: flex;
  justify-content: space-evenly; }

main .cards .card {
  background: #241e1e;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6); }

main .cards .card img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block; }

main .cards .card > .contenido-texto-card {
  width: 60%;
  color: #fff; }

main .cards .card > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px; }

main .contenedor-video {
  display: flexbox;
  justify-content: center; }

section .form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: center;
  margin-top: 100px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: white; }

section .form-titulo {
  font-size: 22px;
  margin-bottom: 20px; }

section .form-titulo1 {
  font-size: 22px;
  margin-bottom: 20px; }

section .controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px; }

footer {
  background: #776161;
  padding: 30px 0 30px 0;
  margin: auto;
  overflow: hidden; }
  footer .contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc; }
  footer .content-foo {
    text-align: center; }
  footer .content-foo h4 {
    color: black;
    border-bottom: 3px solid #252225;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  footer .content-foo p {
    color: #ccc; }
  footer .titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797; }
